<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/1eff5ac3a2.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% comment %} <a class="navbar-brand" href="#"
        ><img src="./css/images/logo.png" alt="logo" style="max-height: 40px"
      /></a> {% endcomment %}
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-user-friends"></i> Networks</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-briefcase"></i> Jobs</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-comments"></i> Messaging</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link new-notification" href="#"
              ><i class="fas fa-bell"></i> Notifications</a
            >
          </li>
        </ul>
        
      </div>
    </nav>

    <!-- Main Content -->
    <main class="container mt-4">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </main>
  </body>
</html>
